<div class="input-group">
  <span class="input-group-btn">
    <button
    [ngClass]="btnClass"
    (click)="cambiarValor(-5)"
    type="button">
      Restar
    </button>
  </span>

  <input 
    [(ngModel)]="progreso" 
    [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
    type="number" 
    class="form-control" 
    placeholder="Progreso"
    (ngModelChange)="onChange($event)"
  >

  <span class="input-group-btn">
    <button
    [ngClass]="btnClass"
    (click)="cambiarValor(5)"
    type="button">
      Sumar
    </button>
  </span>
</div>